@model KwikMedical.Models.Ambulance

<h2>Ambulance Details</h2>

<p>
    <strong>Code:</strong> @Model.Code <br>
    <strong>Current City:</strong> @Model.CurrentCity <br>
    <strong>Assigned Hospital:</strong> @Model.Hospital.Name
</p>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
