@model KwikMedical.Models.Ambulance

@{
    ViewData["Title"] = "Ambulance Details";
}

<h1>@ViewData["Title"]</h1>

<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Details for Ambulance @Model.Code</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Ambulance Code:</dt>
                    <dd class="col-sm-8">@Model.Code</dd>

                    <dt class="col-sm-4">Is Available:</dt>
                    <dd class="col-sm-8">@Model.IsAvailable</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 text-center">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
