@model KwikMedical.Models.Hospital

@{
    ViewData["Title"] = "Hospital Details";
}

<h1>@ViewData["Title"]</h1>

<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">@Model.Name</h4>
            </div>
            <div class="card-body">
                <dl class="row mb-4">
                    <dt class="col-sm-4">City:</dt>
                    <dd class="col-sm-8">@Model.City</dd>
                </dl>
                <h5>Ambulances:</h5>
                <ul>
                    @foreach (var ambulance in Model.Ambulances)
                    {
                        <li>@ambulance.Code - @Html.ActionLink("View Details", "Details", "Ambulances", new { id = ambulance.Id }, null)</li>
                    }
                </ul>
                <div class="mt-3">
                    @Html.ActionLink("Create New Ambulance", "Create", "Ambulances", new { hospitalId = Model.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>
