@model KwikMedical.Models.EmergencyCall

<h2>Emergency Call Details</h2>

<div>
    <h4>Patient: @Model.Patient.FirstName @Model.Patient.LastName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Emergency Details</dt>
        <dd class="col-sm-10">@Model.EmergencyDetails</dd>

        <dt class="col-sm-2">Emergency City</dt>
        <dd class="col-sm-10">@Model.EmergencyCity</dd>

        <dt class="col-sm-2">Emergency Status</dt>
        <dd class="col-sm-10">@Model.EmergencyStatus</dd>

        <dt class="col-sm-2">Nearest Hospital</dt>
        <dd class="col-sm-10">@Model.NearestHospital</dd>

        <dt class="col-sm-2">Medical Condition</dt>
        <dd class="col-sm-10">@Model.MedicalCondition</dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@if (!Model.IsCompleted)
{
    <form asp-action="Complete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Mark as Completed" class="btn btn-success" />
    </form>
}