@model KwikMedical.Models.Patient

@{
    ViewData["Title"] = "Patient Details";
}

<h1>@ViewData["Title"]</h1>

<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Details for @Model.FirstName @Model.LastName</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">First Name:</dt>
                    <dd class="col-sm-8">@Model.FirstName</dd>

                    <dt class="col-sm-4">Last Name:</dt>
                    <dd class="col-sm-8">@Model.LastName</dd>

                    <dt class="col-sm-4">NHS Number:</dt>
                    <dd class="col-sm-8">@Model.NHSNumber</dd>

                    <dt class="col-sm-4">Address:</dt>
                    <dd class="col-sm-8">@Model.Address</dd>

                    <dt class="col-sm-4">City:</dt>
                    <dd class="col-sm-8">@Model.City</dd>

                    <dt class="col-sm-4">Postcode:</dt>
                    <dd class="col-sm-8">@Model.Postcode</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 text-center">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
